<section class="pagination">
  <% if (previousPage !== 1 && currentPage !== 1) { %>
      <a href="<%= url.length > 1 ? url : '' %>/?page=1">1</a>
  <% } %>
  <% if (hasPreviousPage) { %>
      <a href="<%= url.length > 1 ? url : '' %>/?page=<%= previousPage %>"><%= previousPage %></a>
  <% } %>
  <a href="<%= url.length > 1 ? url : '' %>/?page=<%= currentPage %>" class="active"><%= currentPage %></a>
  <% if (hasNextPage) { %>
      <a href="<%= url.length > 1 ? url : '' %>/?page=<%= nextPage %>"><%= nextPage %></a>
  <% } %>
  <% if (currentPage !== lastPage) { %>
      <a href="<%= url.length > 1 ? url : '' %>/?page=<%= lastPage %>"><%= lastPage %></a>
  <% } %>
</section>